whatsupp Rag Agent.json
{
  "name": "whatsupp Rag Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -128
      ],
      "id": "6cc079bb-e7eb-49ee-aec2-13f006772a1c",
      "name": "WhatsApp Trigger",
      "webhookId": "23ee7535-d5e2-4b8d-8467-9d141540e116",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "lUJvYVEhqOO612Fg",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}{{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a helpful whatsup suport agent.your functions are to respond user quries by retrieving data from supabase tool. keep the answer short and relevent. At anypoint ,If the answer is not available in retrieve data just reply, one of our team memeber reply assist you on this.   "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -848,
        -352
      ],
      "id": "45ab2014-91bc-4995-8951-84e990ea83fc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        -96
      ],
      "id": "4c45bf76-c566-400f-94ea-24f26902e521",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4hZXGiHeS34fAmaR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        272
      ],
      "id": "629ddfc8-d92d-4744-a73d-fc16ead2e554",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bk_t9OY_RUsBRc9V6Eiso2lC9tXyZmap54cjNHdzfLM",
          "mode": "list",
          "cachedResultName": "Rag AI Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bk_t9OY_RUsBRc9V6Eiso2lC9tXyZmap54cjNHdzfLM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bk_t9OY_RUsBRc9V6Eiso2lC9tXyZmap54cjNHdzfLM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        272
      ],
      "id": "41d953ac-2520-46de-8233-2c9079f563c4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "L2EFtpJ2JPZ418EP",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n  let content = '';\n\n  if (data.Question && data.Answer) {\n    // For FAQ-style knowledge\n    content = `Q: ${data.Question}\\nA: ${data.Answer}`;\n  } else if (data[\"Product Name\"] && data.Description) {\n    // For product catalog data\n    content = `Product Info:\nCategory: ${data.Category || \"General\"}\nName: ${data[\"Product Name\"]}\nDescription: ${data.Description}\nSize: ${data.Size || \"N/A\"}\nPrice: ${data.Price || \"N/A\"}`;\n  } else {\n    // If no match found, return all keys for debugging\n    content = `Raw Data:\\n${JSON.stringify(data, null, 2)}`;\n  }\n\n  return {\n    json: {\n      content: content\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        272
      ],
      "id": "ebe7dcbb-ff4e-4c6e-9384-33703a812935",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -64,
        272
      ],
      "id": "924386a2-cf25-4287-8c53-171ac354acf6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "BcjOenECymQFw2Tr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        144,
        448
      ],
      "id": "32369a8c-64a6-4092-93e6-54d6183aed89",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        464
      ],
      "id": "de32fe25-8738-4b63-a7ac-9f5fd388aa81",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Rav72TUeZBvfLi8Z",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to fetch general FAQ and product info",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -656,
        -112
      ],
      "id": "93a0cf44-aa1b-4486-b3be-c6d134e212a9",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "BcjOenECymQFw2Tr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -784,
        -112
      ],
      "id": "672ff511-0f4a-4487-8620-c6eead50d95a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=804140209456647",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -288,
        -128
      ],
      "id": "b518ec66-63f8-4d43-b75d-df6ed7f95f03",
      "name": "Send message and wait for response",
      "webhookId": "8c6a72d5-6993-48a3-b4fb-2ca0123028f1",
      "credentials": {
        "whatsAppApi": {
          "id": "R97HcSKPpphYgbwv",
          "name": "WhatsApp account 7"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff696c50-9c79-45ef-b066-08ec85121db0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f2295e8c2de521175a623e5d0d99c8b8af4faa5ee3e1e43a0ecdb2718e64721"
  },
  "id": "Tt0KXEmqtoY7N9x1",
  "tags": []
}